/* Header + Navbar css start */
header{
    padding-top: 15px;
    text-align: center;
    font-family: 'Stick No Bills';
}
#searchBar{
    border-radius: 15px;
    background: #572C71;
    border:none;
    font-family: 'Stick No Bills';
    margin-top: 15px;
}
input[type="text"]::placeholder{
    text-align: center;
    color:white;
}
.nav-item{
    margin-right: 3%;
    margin-left: 3% ;
    padding-top: 10px;
    font-weight:500;
    color:#572C71;
    font-family: 'Stick No Bills';
}
.navbar{
    background-color: white;
}
.nav-line{
    width: 64%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    border-top:solid 3px #572C71;
}
@media (min-width: 768px) and (max-width: 992px) {
    li, div{
        font-size: 20px;
    }
    .headR{
        text-align: right;           
    }
    .headIcon{
        margin-left: 3%;
        height: 40px;
        margin-right: 30px;
        padding-bottom: 10px;
    }
    
}
@media (min-width: 992px) {
    li, div{
        font-size: 28px;
    }
    .headIcon{
        margin-left: 15%;
    }
}
@media (max-width: 575px) {
    header, nav{
        display: none;
    }
}
/* Header + Navbar css end */

@font-face {
    font-family: 'Stick no Bills';
    src: url(GeneralFormat/Stick_No_Bills/StickNoBills-VariableFont_wght.ttf);
}