/* Header + Navbar css start */



@media (min-width: 912px) {
    .mobileNav{
        display: none;
    }
    header{
        padding-top: 15px;
        text-align: center;
    }
    #searchBar{
        width: 100%;
        border-radius: 15px;
        background: #572C71;
        border:none;
        margin-top: 15px;
        color:white;
        padding-left: 20px;
        padding-right: 20px;
    }
    input[type="text"]::placeholder{
        text-align: center;
        color:white;
    }
    .cartQuantity{
        position: absolute;
        top:12px;
        right:108px;
        font-size: 24px;
        text-align: center;
        width: 32px;
        height: 32px;
        border:solid 1px #572C71;
        background-color: #572C71;
        border-radius: 100px;
        color:white;
    }
    .navbar{
        background-color: white;
    }
    .navLineDesktop{
        width: 64%;
        display: flex;
        margin: auto;
        margin-top: 10px;
        border-top:solid 3px #572C71;
    }
    li, div{
        font-size: 36px;
    }
    .headIcon{
        margin-right: 20px;
    }
    .headR{
        text-align: right;
        padding-right: 30px;          
    }
    
    .nav-item{
        margin-right: 3%;
        margin-left: 3% ;
        padding-top: 10px;
        font-weight:500;
        font-size: 36px;
        color:#572C71;
        font-weight: 700;
    }
    .accountDropdown{
        position: relative;
        display: inline-block;
    }
    .accountDropdownContent{
        display: none;
        position: absolute;
        background-color: #ffffff;
        border:solid #572C71 2px;
        border-radius: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1021;
        margin-left: -90px;
        top:69px;
        width: 175px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .accountDropdownContent a{
        color: #572C71;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .accountDropdownContent a:hover{
        background-color: #572C71;
        color:white;    
    }
    .accountDropdown:hover .accountDropdownContent{
        display: block;
    }
    .nav-item a{
        border: solid 4px #ffffff;
    }
    .nav-item a:hover{
        transition-property: border-color;
        transition: border-color 0.5s linear;
        border-bottom-color: #572C71;
        
    }
}
@media (max-width: 911.9px){
    .desktopHeader, .nav-link, .navLineDesktop{ 
        display: none;
    }
    .cartQuantity{
        position: absolute;
    }
    .headR{
        text-align: right;           
    }
    
    .fa-bars{
        font-size: 48px;
        margin-left: 30px;
        color:#572C71;
    }
    .mobileCart{
        height: 48px;
        position: absolute;
        top: 14px;
        right: 81px;
    }
    .mobileSearch{
        height: 56px;
        position: absolute;
        top: 14px;
        right: 22px;
    }
    .col-8{
        text-align: center;
    }
    body{
        font-size: 32px;
    }
    .navLineMobile{
        width: 64%;
        display: flex;
        margin: auto;
        margin-top: 10px;
        border-top:solid 3px #572C71;
    }
    .cartQuantity{
        position: absolute;
        top: 3px;
        right: 75px;
        font-size: 24px;
        text-align: center;
        width: 32px;
        height: 32px;
        border:solid 1px #572C71;
        background-color: #572C71;
        border-radius: 100px;
        color:white;
    }
    .showHideBtn{
        width: 100px;
        border: none;
        background-color: white;
    }
    .offcanvas-body a{
        text-decoration: none;
        color:#572C71;
    }
    .fa-right-to-bracket{
        color:#572C71;
    }
}

/* Header + Navbar css end */

@font-face {
    font-family: 'Stick no Bills';
    src: url(GeneralFormat/Stick_No_Bills/StickNoBills-VariableFont_wght.ttf);
}
body{
    font-family: 'Stick No Bills';
    overflow-x: hidden;
}


footer.container-fluid{
    background-color: #896C9B;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
    border-top: #572C57 2px solid;
    color: white;
}
.thankSen{
    text-align: center;
    font-size: 55px;
    padding-top: 50px;
}
#row{
    padding-top: 50px;
}
.col-sm-4{
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
}
#pb{
    font-size: 40px;
    margin-bottom: 0px;
}
a.btn{
    text-align: center;
    width: 360px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    border: #572C57 2px solid;
    color: #572C57;
    background-color: white;
}
.btn-primary{
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #572C57;
    --bs-btn-hover-border-color: #572C57;

}
#col{
    border-left: white 2px solid;
    padding-left: 20px;
}
#col1{
    height: 60%;
    border-left: white 2px solid;
}
#col2{
    margin-top: 120px;
    border-left: white solid 2px;
    padding-left: 20px;
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    border: 2px solid #572C57; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  /* Style the submit button with a specific background color etc */
   button.btn{
    background-color: #572C57;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }