header{
    text-align: center;
}
@media (min-width: 576px) {
    
    li{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (min-width: 0px) {
    .nav-bar{
        display: none;
    }
}

