.carousel{
    width: 90%;
    margin: 50px auto;
}
.carousel-inner{
    border: 2px solid #572C51;

}
.homeImg{
    width: 100%;
}
.colImg{
    width: 100%;
    border-radius: 40px;
}
.black-opacity{
    background-color: black;
    position: relative;
    opacity: 0.5;
    height: 250px;
    bottom :250px;
}
.bodyContent{
    margin: auto;
}
.imgContent{
    width: 100%;    
}
.sectionNavBtn{
    color: white;
}
.colContainer{
    position: relative;
    margin: auto;
}
.colOverlay1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
    border-radius: 40px;

}
.unDecorLink{
    text-decoration: none;
    color: white;
}
.colContainer:hover .colOverlay1 {
    opacity: 0.7;
}
div.colText a{
    text-decoration: none;
}
.colText {
    
    color: white;
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px white solid;
    border-radius: 30px;
    padding: 30px;
}
.colText:hover .colLink{
    color: white;
}
.introImg{
    width: 100%;
    padding: 0 0;
    margin: auto auto;
    border-radius: 20px ;
}
.infoBody1{
    background-color: rgb(246, 161, 246);
    margin: 30px auto;
    padding: 30px 30px;
    border-radius: 30px;
}
.infoBody2{
    background-color: rgb(170, 215, 254);
    margin: 30px auto;
    padding: 30px 30px;
    border-radius: 30px;
}
.collNavBody{
    margin: 30px auto;
}
.col-4, .col-8{
    padding: 0 0;
}
.bodyBox{
    margin: auto auto;
}
.infoTitle{
    color: white;
    font-weight: bold;
    text-decoration: underline;
    margin: 0 30px;
}
.infoContent{
    color:white;
    font-size: 36px;
    margin: 0 30px;
}


