.form{
    display: block;
    width: 80%;
    margin: auto;
    border: solid #572C71 5px;
    border-radius: 30px;
}

.title{
    text-align: center;  
    color:#572C71;
    margin: 60px;
    font-weight: 700;
    font-size: 64px;
}

.row1{
    align-items: center;
    
}
.colMd5.infoTitle{
    padding-left: 15%;
    color:#572C71;
    font-weight: 700;
    font-size: 40px;
}
.colMd7{
    font-size: 36px;
}

.whiteBtn{
    background-color: white;
    color:#572C71;
    border: solid #572C71 3px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10%;
    font-weight: 600;
}
@media (min-width: 758.1px) {
    .colMd5{
        padding-left: 15%;
    }
}
@media (max-width:768px) {
    .colMd7, .colMd7 input{
        text-align: center;
    }
    .colMd5 img{
        padding-left: 0px;
    }
    .colMd5.avatar{
        text-align: center;
    }
    .whiteBtn{
        margin-left: unset;
    }

}
.rowInfoForm{
    margin-top: 4%;
    margin-bottom: 2%;
}
.ava button{
    display: block;
    border: solid #572C71 2px;
    border-radius: 20px;
    color:white;
    background-color: #572C71;
}
.infoBtn{
    justify-content: center;
}
.resetBtn{
    background-color: white;
    color:#572C71;
    border: solid #572C71 3px;
    border-radius: 10px;
    font-weight: 600;
    margin:15px;
}
.saveBtn{
    background-color: #572C71;
    color:white;
    border: solid #572C71 3px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 15px;
}
.colMd7 input{
    width: 70%;
    text-align: left;
    border: solid #572C71 2px;
    border-radius: 10px;
    color:#572C71;
    font-size: 28px;
}
.avaModal{
    width: 70%;
    margin: 30px;
    cursor: pointer;
    border-radius: 30px ;
}
