.filterForm{
    border:solid 4px #572C57;
    border-radius: 15px;
    padding: 15px;
    width: 95%;
    margin:auto;
    padding-right: 0px;
}
.iName{
    margin-top: 10px;
    font-size: 24px;
}
.item{
    width: 250px;
    border: solid 2px #572C57;
    background-color: white;
    border-radius: 20px;
    padding-top:25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    display: inline-block;
    transition: transform .1s linear;
}
.itemBtn, .itemBtn:link, .item:visited, .itemBtn:hover{
    text-decoration: none;
    color:#572C57;
}
.item:hover{
   transform: scale(1.3);
}
.vote-star{
    font-size: 14px;
}
.voteRate{
    font-size: 24px;
}
.col-xl-4{
    margin-top: 75px;
}
.itemPrice{
    color:green;
    font-size: 36px;
}
.sortByBtn{
    color:white;
    background-color: #572C57;
    border: solid 2px #572C57;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    margin-top: 30px;
}
.sortByDropdown{
    position: relative;
    display: inline-block;
    margin-left: 5%;
    text-align: left;
}
.sortByDropdownContent{
    display: none;
    position: absolute;
    background-color: #ffffff;
    border:solid #572C71 2px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin-left: -20px;
    width: 230px;
    padding-top: 10px;
    padding-left: 10px;
}
.col-lg-4{
    text-align: center;
}
.col-lg-9{
    text-align: center;
}
.applyBtn{
    color: white;
    border: #572C57 2px solid;
    border-radius: 20px;
    background-color: #572C77;
    font-size: 30px;
    padding:5px;
    margin:5px;
    width: 90%;
}
.resetBtn{
    color: #572C57;
    border: #572C57 2px solid;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 30px;
    padding:5px;
    margin: 5px;
    width: 100px;
    width: 90%;
}
.sortByDropdownContent span:hover{
    background-color: #572C71;
    color:white;
}
.titleFilter, .titleFilter:hover{
    color: #572C57;
    border: none;
    text-decoration: none;
    background-color: white;
    font-size: 30px;
    
}
.titleFilter .fa-star{
    font-size: 30px;
}
.addToCartBtn{
    cursor: pointer;
}




    