.itemInfoForm{
    width: 90%;
    border: 2px solid #572c71;
    border-radius: 30px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 70px;
    text-align: center;
    margin:auto;
}
.infoTitle{
    text-align: left;
    padding-left: 50px;
}
.changeQuanBtn{
    color:#572c71;
    border: solid 2px #572c71;
    border-radius: 10px;
    width: 48px;
    line-height: 48px;
    height: 48px;
    background-color: white;
    vertical-align: middle;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quanInput{
    color:#572c71;
    background-color: white;
    border: solid 2px #572c71;
    border-radius: 10px;
    width: 30%;
    line-height: 48px;
    height: 48px;
    text-align: center;
    vertical-align: middle;

}
.changeQuanBtn:hover{
    color:white;
    background-color: #572c71;
}
.addCartBtn{
    width: 70%;
    margin-top: 30px;
    background-color: white;
    border: solid 2px #572c71;
    border-radius: 10px;
}
.imgFrame{
    text-align: right;
    margin-right: 15%;
}
.buyBtn{
    width: 70%;
    margin-top: 15px;
    border: solid 2px #572c71;
    border-radius: 10px;
    background-color: #572c71;
    color:white;
}
.iName{
    margin-bottom: 20px;
    justify-content: center;
}

.voteRow{
    font-size: 20px;
    padding-bottom: 40px;
}
.descriptionContent{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}
.descriptionBtn{
    margin-top: 100px;
    margin-left: 15%;
    border: none;
    background-color: white;
    color:#572c71;
    font-size: 48px;
}
.cmtPart{
    margin-left:15%;
    font-size: 48px;
    color: #572c71;
}
.cmtInfo{
    text-align: center; 
}
.comment{
    margin-top: 30px;
}
.cmtPart .col-12{
    font-size: 48px;
}
.cmtContent{
    border: solid 2px#572c71;
    border-radius: 20px;
    padding: 20px;
}
/* @media screen {
    
} */
/* .fa-solid.fa-star.voting-star{
    font-size: 20px;
} */