.filterForm{
    border:solid 4px #572C57;
    border-radius: 15px;
    padding: 25px;
    width: 95%;
    margin:auto;
}
.item{
    width: 250px;
    border: solid 2px #572C57;
    border-radius: 20px;
    padding-top:25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin: auto;
    margin-top: 45px;
    display: inline-block;
}
.vote-star{
    font-size: 16px;
}
.col-xl-4{
    margin-top: 75px;
}

.sortByBtn{
    color:white;
    background-color: #572C57;
    border: solid 2px #572C57;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}
.sortByDropdown{
    position: relative;
    display: inline-block;
    margin-left: 5%;
}
.sortByDropdownContent{
    display: none;
    position: absolute;
    background-color: #ffffff;
    border:solid #572C71 2px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin-left: -20px;
    width: 230px;
    padding-top: 10px;
    padding-left: 10px;
}

.sortByDropdownContent span:hover{
    background-color: #572C71;
    color:white;
}






    